@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="table-control">
    <a href="@Url.Action("Create","GiangVien")" class="btn btn-dark px-5">Create</a>
    <table class="table table-striped table-bordered table-hover mt-1">
        <thead>
            <tr class="thead-dark">
                <th>STT</th>
                <th>Họ Tên </th>
                <th>Khoa</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.name</td>
                    <td>@item.Khoa</td>
                    <td>@item.mail</td>
                    <td>@item.phone</td>
                    <td class="button-w">
                        <button class="btn btn-dark">Edit</button>
                        <a class="btn btn-dark ml-2" href="@Url.Action("Delete","GiangVien", new {id = @item.id})">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function Delete(id)
    {
    $.ajax({
    url: '@Url.Action("Delete", "GiangVien")',
    data: { id: id }
    }).done(function() {
    alert('Added');
    });
    }
</script>
